html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/76.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0;
}

/* -------container 1------- */

.container-1 {
    width: 100%;
    margin: 0;    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* -------header------- */

.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px 32px;
    flex-basis: 60%;
    flex: 1 1 auto;
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0);
}

.logo-container {
    padding: 0 16px;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    color: rgb(216, 177, 5);
}

.header-links {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-links > * {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.h-links > * {
    list-style: none;
    display: flex;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    padding: 4px 32px;
    color: rgb(216, 177, 5);
    font-weight: bolder;
    font-size: 1.2rem;
    text-align: center;
    text-align-last: center;
}

/* -------container-1 content------- */

.second-content {
    border-radius: 25px;
    background-color: rgb(216, 177, 5);
    width: 75%;
    padding: 28px;
}

.header-content-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.content-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-basis: 37.5%;
    padding: 4px 32px;
    padding: 8px 16px;
    height: 250px;
}

.content-left > * {
    padding: 8px;
    color: rgb(0, 0, 0);
}

.content-left > * > * {
    margin: 0;
    padding: 0;
    text-align-last: center;
}

.content-left-title > * {

    font-size: 3rem;
}   

.signup-btn {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px 100px / 120px;
    padding: 8px 0px;
    margin: 0;
}

.signup-btn > * {
    text-decoration: none;
    padding: 8px 32px;
    color: rgb(216, 177, 5);
}

.content-right-img-holder {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-basis: 37.5%;
    color: white;
    padding: 0;
    border-radius: 25px;
    padding: 4px 32px;
    background-color: rgba(0, 0, 0, 0.589);
}

.content-img-box {
    height: 250px;
}

.effects {
    width: 100%;
}

.effects > * {
    display: flex;
    padding: 0;
}

.effects > * > * {
    list-style: none;
    flex-basis: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    color: white;
}